%h3.text-center.mb-5 #{current_user.name}さんのプロフィール

.row.justify-content-center
  .col-md-6
    .card.shadow-sm.p-4
      .text-center.mb-3
        - if current_user.profile_image.attached?
          = image_tag current_user.profile_image.variant(:thumb), class: 'rounded-circle mb-3'
        - else
          = image_tag 'sample-profile.png', class: 'profile-image rounded-circle mb-3', alt: 'プロフィール画像なし'

      %p
        %strong 名前：
        = current_user.name
      %p
        %strong メールアドレス：
        = current_user.email

      = link_to '編集', edit_user_registration_path, class: 'btn btn-outline-warning btn-sm  d-inline-block mx-auto'

    - if current_user.family.present?
      %h3.text-center.my-4 #{current_user.family.name}家の情報

      .card.shadow-sm.p-4{ data: { test: 'family-card' } }
        %p
          %strong 苗字：
          = current_user.family.name

        %p
          %strong 大人：
          - current_user.family.users.each do |user|
            .mb-1
              = user.name
        = link_to '家族を招待する', new_family_invitation_path(current_user.family), class: 'btn btn-outline-secondary btn-smd-inline-block mx-auto'

        - if current_user.family.children.exists?
          %p
            %strong お子様：
            - current_user.family.children.each do |child|
              .d-flex.gap-2.mb-3
                = child.name
                = render 'users/profiles/gender_status_badge', child:
                = child.age

        = link_to '編集', edit_family_path(current_user.family), class: 'btn btn-outline-warning btn-sm  d-inline-block mx-auto'
