%h3.text-center.mb-5 #{@family.name}家の本棚

- if @family.family_library.books.exists?
  .row.g-4
    - @family.family_library.books.preload(:authors).find_each do |book|
      .col-md-4.mb-3
        = link_to family_library_book_path(book), class: 'text-decoration-none book-card' do
          = image_tag book.image_url, class: 'image--card'

        %h5.my-3.fw-bold= book.title
        %p
          %strong 著者:
          - if book.authors.present?
            = book.authors.map(&:name).join(', ')
          - else
            情報なし

- else
  %p.text-center 登録している絵本がありません。
