= simple_form_for(family, url: family_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, required: true, autofocus: true

  #children-fields{
    data: {
      controller: 'children',
      template: capture do
        f.fields_for(:children, Child.new, child_index: 'NEW_RECORD') do |child_form|
          render('families/child_fields', f: child_form)
        end
      end,
    }
  }

    .children-container{ data: { children_target: 'container' } }
      - family.children.each do |child|
        = f.fields_for(:children, child) do |child_form|
          = render 'families/child_fields', f: child_form

    .text-center.mt-2
      = button_tag '+ お子様を追加',
                   type: 'button',
                   class: 'btn btn-success btn-sm',
                   data: { action: 'children#add' }

  .form-actions.text-center
    = f.button :submit, class: 'btn btn-primary mt-3'
