%h2.text-center.mb-4 ユーザー一覧

- if @users.exists?
  %table.table.table-hover.table-bordered.align-middle.text-center
    %thead
      %tr
        %th.w-10 ID
        %th 名前
        %th メールアドレス
        %th 承認状況
        %th 操作
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.name
          %td= user.email
          %td= render 'admins/users/confirm_status_badge', user:
          %td
            = link_to '詳細', admins_user_path(user), class: 'btn btn-sm btn-outline-secondary me-2'
            = button_to '削除',
                        admins_user_path(user),
                        method: :delete,
                        data: { turbo_confirm: '本当に削除しますか？' },
                        form: { class: 'd-inline' },
                        class: 'btn btn-sm btn-outline-danger'
