%h2.text-center.mb-4 ユーザー詳細

%table.table.table-bordered.w-100
  %tbody
    %tr
      %th.text-center.w-25 名前
      %td= @user.name
    %tr
      %th.text-center.w-25 メールアドレス
      %td= @user.email
    %tr
      %th.text-center.w-25 本人確認
      %td= render 'admins/users/confirm_status_badge', user: @user
    %tr
      %th.text-center.w-25 所属家族
      %td= @user.family.name

.text-center.mt-4
  = link_to '一覧に戻る', admins_users_path, class: 'btn btn-outline-secondary me-2'
  = button_to '削除する',
              admins_user_path(@user),
              method: :delete,
              data: { turbo_confirm: '本当に削除しますか？' },
              form: { class: 'd-inline' },
              class: 'btn btn-outline-danger'
