.row.my-5
  .col-md-5.text-center
    = image_tag @book.image_url, class: 'image--preview'

  .col-md-7
    %table.table.table-bordered.w-100
      %tbody
        %tr
          %th.text-center.w-25 タイトル
          %td= @book.title
        %tr
          %th.text-center.w-25 著者
          %td
            - if @book.authors.present?
              = @book.authors.map(&:name).join(', ')
            - else
              情報なし
        %tr
          %th.text-center.w-25 出版日
          %td= @book.published_date.presence || '情報なし'
        %tr
          %th.text-center.w-25 ページ数
          %td= @book.page_count.presence || '情報なし'

    .text-center.mt-5
      = link_to '読み聞かせ記録を作成', new_family_library_library_book_reading_log_path(@book), class: 'btn btn-success custom-btn fw-bold'

.row.justify-content-center
  .col-md-8
    - if @book.reading_logs.exists?
      - @book.reading_logs.preload(:children).each do |log|
        .card.mb-3.shadow-sm.border-0.rounded-3
          .card-body.py-3
            %h5.card-title.fw-semibold.mb-2= log.book.title
            %p.mb-1.small
              読んだ日：
              %strong= l(log.read_on, format: :short)
            %p.mb-1.small
              読み聞かせた子：
              - log.children.each do |child|
                %span.badge.bg-primary= child.name
            .mb-1
              %span.badge.bg-light.text-dark.border.fs-6.py-2.px-3
                = I18n.t("activerecord.enums.reading_log.rating.#{log.rating}")
            - if log.memo.present?
              %p.mb-1.small
                メモ：
                = log.memo
