.card.mb-4.shadow-sm.border-0.rounded-3
  .card-body.p-2{ data: { controller: 'comment-toggle' } }

    .comment-display{ data: { comment_toggle_target: 'display' } }
      %small.text-muted= "#{comment.user.name} #{l(comment.created_at, format: :default)}"
      %p.my-2= comment.body

    .comment-form-wrapper.d-none{ data: { comment_toggle_target: 'form' } }
      = render 'families/libraries/books/reading_logs/comment_form',
               family: @family,
               library: @family.family_library,
               book: @book,
               reading_log: comment.reading_log,
               comment: comment

    - if comment.user == current_user
      .d-flex.justify-content-end.gap-1
        %button.btn.btn-sm.btn-outline-warning.me-2{data: {
                                                      action: 'click->comment-toggle#toggleForm',
                                                      comment_toggle_target: 'button',
                                                    }}
          編集

        = button_to '削除',
                    family_library_book_reading_log_comment_path(comment.reading_log.book, comment.reading_log, comment),
                    method: :delete,
                    data: { turbo_confirm: '削除してもよろしいですか？' },
                    class: 'btn btn-sm btn-outline-danger'
